body{
font:15px;
font-family: Arial, Helvetica, Sans-serif;
padding: 0px;
margin: 0;
padding-bottom: 20px;
background-color: #00FFFF;
}


.navbar{
  font-family: verdana, Arial,sans-serif;
  color: white; !important;
  padding-right: 60px;
  padding-left:  50px;
  padding-top:   0px;



}

#myLogo{
margin-left: inherit;



}
.quizContainer{
padding-top: 0px;
padding-bottom: 0px;



}
.choices{
text-align: center;
padding-top: 30px;
margin-top: 60px;
margin-left: 30%;
margin-right: 30%;
margin-bottom: 20px;
padding-bottom: 40px;
background-color: #3333FF;
color:white;

}
